/* Input.css */

.input-container {
  position: absolute;
  width: 15%;
  top: 90%;
  right: 50%;
  transform: translate(50%,-50%);
  display: flex;
  flex-direction: column;
  gap: 10px;
  z-index: 9999;/* Align input and button horizontally */
}

.enter-key-image {
  height: 2rem;
  width: 2rem;
}

.input-and-submit-container {
  display: flex;
  gap: 10px;
}

.press-enter-wrapper {
  opacity: 0.4;
  position: relative;
  align-items: center;
  height: 2rem;
  gap: 10px;
  left: 50px;
  display: flex;
}

.press-enter-wrapper:hover {
  opacity: 0.9;
  transition-duration: 0.2s;
  /*bezier */
  transition-timing-function: cubic-bezier(0.25, 0.1, 0.25, 1);
  cursor: default;
}

.small-text {
  color: white;
}

.input {
  background-color: #333;
  color: #fff;
  padding: 10px 10px 10px 10px;
  outline: 0;
  border: 1px solid rgba(105, 105, 105, 0.397);
  border-radius: 10px;
  font-size: medium;
}

.input:focus {
  border-color: #00bfff;
}

.input::placeholder {
  color: rgba(255, 255, 255, 0.5);
}

.submit {
  background-color: #ff841f;
  color: #fff;
  border: none;
  outline: none;
  padding: 15px;
  border-radius: 10px;
  font-size: medium;
  cursor: pointer;
  transition: background-color 0.3s ease;
}

.submit:disabled {
  background-color: #cdcdcd;
  color: #fff;
  border: none;
  outline: none;
  padding: 15px;
  border-radius: 10px;
  font-size: medium;
  cursor: not-allowed;
  transition: background-color 0.3s ease;
}

.submit:hover {
  background-color: #0077cc;
}
